.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #c0b3dfff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-size: 18px;
}

.nav-links a {
  color: #1c4c2b;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-links a:hover {
  background: #fffeef;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.nav-links a.active {
  background: #fffeef;
}
.logout-button {
  background-color: rgb(166, 148, 207);
  color: #fffeef;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
.logout-button:hover {
  background-color: rgb(156, 135, 206);
}
